openapi: 3.2.0
info:
  title: NCI Clinical Trials Search Diseases Terms API
  description: 'RESTful API for searching NCI-supported cancer clinical trials data

    sourced from NCI''s Clinical Trials Reporting Program (CTRP). This is

    the same API that powers NCI''s public Clinical Trials Search at

    cancer.gov. A free API key is required and must be sent in the

    X-API-KEY header; developers register through the CTS Developer

    Accounts portal at https://clinicaltrialsapi.cancer.gov/.


    This is a best-effort, hand-authored specification covering the

    documented v2 endpoints (trials, interventions, diseases, terms).

    Request and response payloads use permissive schemas where the full

    property set is not enumerated in public documentation.

    '
  version: v2
  contact:
    name: NCI Clinical Trials API
    url: https://clinicaltrialsapi.cancer.gov/
  x-generated-from: documentation
  x-apis-io-method: generated
  x-apis-io-note: 'Hand-authored by API Evangelist from NCI documentation, NOT harvested from NCI. NCI
    publishes no machine-readable contract for the Clinical Trials Search API: clinicaltrialsapi.cancer.gov
    is a single-page application that returns an HTML shell at HTTP 200 for /openapi.json, /swagger.json,
    /api-docs and /v3/api-docs (probed 2026-09-05). Verify field names against a live response.'
servers:
- url: https://clinicaltrialsapi.cancer.gov/api/v2
security:
- apiKey: []
tags:
- name: Terms
paths:
  /terms:
    get:
      tags:
      - Terms
      summary: Search terms (controlled vocabulary)
      parameters:
      - in: query
        name: term
        schema:
          type: string
      - in: query
        name: term_type
        schema:
          type: string
      - in: query
        name: size
        schema:
          type: integer
          default: 10
      - in: query
        name: from
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Term search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResults'
components:
  schemas:
    PagedResults:
      type: object
      properties:
        total:
          type: integer
        data:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Free API key issued by the CTS Developer Accounts portal.
