{"openapi":"3.1.0","info":{"title":"SEER*API","description":"SEER API is a RESTful Web service that supports various [SEER Program](https://seer.cancer.gov) data sets and mapping.\n\nThis service is available to developers who wish to incorporate SEER resources into their own systems. These resources\ninclude databases and tools developed to enhance registry operations and quality improvement. The SEER API is designed\nfor integration into registry computer systems and is not designed to be accessed by end-users.\n","termsOfService":"/terms","version":"1.0"},"servers":[{"url":"https://api.seer.cancer.gov","description":"Generated server url"}],"security":[{"apiKeyScheme":[]}],"tags":[{"name":"rx","description":"Antineoplastic drugs database"},{"name":"glossary","description":"A glossary of cancer-related terms"},{"name":"ndc","description":"A searchable mirror of National Drug Codes (NDC)"},{"name":"mph","description":"Multiple Primary and Histology Coding Rules"},{"name":"recode","description":"Recode algorithms"},{"name":"surgery","description":"SEER Site-Specific Surgery Codes"},{"name":"disease","description":"Hematopoietic, lymphoid neoplasms and solid tumor diseases"},{"name":"staging","description":"Staging Algorithms"},{"name":"hcpcs","description":"Healthcare Common Procedure Coding Systems (HCPCS) nomenclatures"},{"name":"naaccr","description":"NAACCR Documentation"}],"paths":{"/rest/staging/{algorithm}/{version}":{"get":{"tags":["staging"],"summary":"Return information about a specific algorithm version","operationId":"getVersion","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}}},"404":{"description":"Algorithm version does not exist"}}},"put":{"tags":["staging"],"summary":"Update an algorithm version","operationId":"updateVersion","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}}},"400":{"description":"Invalid input"},"404":{"description":"Algorithm/version does not exist"}}},"post":{"tags":["staging"],"summary":"Create a new version for an algorithm","operationId":"createVersion","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}}},"400":{"description":"Algorithm version already exists"},"404":{"description":"Algorithm does not exist"}}},"delete":{"tags":["staging"],"summary":"Delete an algorithm version","operationId":"deleteVersion","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/table/{id}":{"get":{"tags":["staging"],"summary":"Return a single table","operationId":"getTable","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingTable"}}}},"404":{"description":"Table does not exist"}}},"put":{"tags":["staging"],"summary":"Update a table","operationId":"updateTable","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"A comment to be associated with the history","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingTable"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingTable"}}}},"400":{"description":"Table not valid"},"404":{"description":"Table does not exist"}}},"delete":{"tags":["staging"],"summary":"Delete a table","operationId":"deleteTable","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"A comment to be associated with the history","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"400":{"description":"Table not valid"},"404":{"description":"Table does not exist"}}}},"/rest/staging/{algorithm}/{version}/schema/{id}":{"get":{"tags":["staging"],"summary":"Return a single schema","operationId":"getSchema","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingSchema"}}}},"404":{"description":"Schema does not exist"}}},"put":{"tags":["staging"],"summary":"Update a schema","operationId":"updateSchema","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"A comment to be associated with the history","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingSchema"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingSchema"}}}},"400":{"description":"Schema not valid"},"404":{"description":"Schema does not exist"}}},"delete":{"tags":["staging"],"summary":"Delete a schema","operationId":"deleteSchema","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"A comment to be associated with the history","required":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"400":{"description":"Schema not valid"},"404":{"description":"Schema does not exist"}}}},"/rest/staging/{algorithm}":{"get":{"tags":["staging"],"summary":"Return information about a specific algorithm","operationId":"getAlgorithm","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithm"}}}},"404":{"description":"Algorithm does not exist"}}},"put":{"tags":["staging"],"summary":"Update an algorithm","operationId":"updateAlgorithm","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithm"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithm"}}}},"400":{"description":"Invalid input"},"404":{"description":"Algorithm does not exist"}}},"post":{"tags":["staging"],"summary":"Create a new algorithm","operationId":"createAlgorithm","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithm"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithm"}}}},"400":{"description":"Algorithm already exists"}}},"delete":{"tags":["staging"],"summary":"Delete an algorithm","operationId":"deleteAlgorithm","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"400":{"description":"Only algorithms with no versions can be deleted"},"404":{"description":"Algorithm does not exist"}}}},"/rest/rx/{version}/update":{"put":{"tags":["rx"],"summary":"Update an Rx entry","operationId":"updateRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rx"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rx"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"}}}},"/rest/rx/{version}/reset/{id}":{"put":{"tags":["rx"],"summary":"Reset an Rx entry","operationId":"resetRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Rx identifier","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/ndc/code/{code}":{"get":{"tags":["ndc"],"summary":"Return a single drug product","description":"All possible packages are included in each product.","operationId":"getByNdcId","parameters":[{"name":"code","in":"path","description":"NDC code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NdcProduct"}}}},"400":{"description":"NDC code is not a valid format"},"404":{"description":"NDC code does not exist"}}},"put":{"tags":["ndc"],"summary":"Update a drug with SEER-specific information","operationId":"updateNdc","parameters":[{"name":"code","in":"path","description":"NDC code","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NdcProduct"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NdcProduct"}}}},"400":{"description":"NDC code is not a valid format"},"404":{"description":"NDC code does not exist"}}}},"/rest/hcpcs/code/{code}":{"get":{"tags":["hcpcs"],"summary":"Return a single procedure","operationId":"getById","parameters":[{"name":"code","in":"path","description":"HCPCS code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HcpcsProcedure"}}}},"404":{"description":"HCPCS procedure does not exist"}}},"put":{"tags":["hcpcs"],"summary":"Update a procedure","operationId":"updateProcedure","parameters":[{"name":"code","in":"path","description":"HCPCS code","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HcpcsProcedure"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HcpcsProcedure"}}}},"404":{"description":"HCPCS procedure does not exist"}}},"delete":{"tags":["hcpcs"],"summary":"Delete a procedure","operationId":"deleteProcedure","parameters":[{"name":"code","in":"path","description":"HCPCS code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success"},"409":{"description":"Procedure does not exist"},"204":{"description":"No Content"}}}},"/rest/glossary/{version}/update":{"put":{"tags":["glossary"],"summary":"Update a glossary entry","operationId":"updateGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Glossary"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Glossary"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"}}}},"/rest/glossary/{version}/reset/{id}":{"put":{"tags":["glossary"],"summary":"Reset a glossary entry","operationId":"resetGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Glossary identifier","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/disease/{version}/update":{"put":{"tags":["disease"],"summary":"Update a disease entry","operationId":"updateDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"}}}},"/rest/disease/{version}/reset/{id}":{"put":{"tags":["disease"],"summary":"Reset a disease entry","operationId":"resetDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Disease identifier","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/staging/{algorithm}/{version}/{id}/defaults":{"post":{"tags":["staging"],"summary":"Get all schema defaults","description":"For a specified schema, add defaults to the input map. This is based on input 'default' and 'default_table' values.","operationId":"getSchemaInputDefaults","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Input map"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"400":{"description":"Schema not found"},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/table":{"post":{"tags":["staging"],"summary":"Create a new table","operationId":"createTable","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"A comment to be associated with the history","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingTable"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingTable"}}}},"400":{"description":"Schema valid"}}}},"/rest/staging/{algorithm}/{version}/table/{id}/match":{"post":{"tags":["staging"],"summary":"Checks whether a set of key/value pairs match any row in a table","description":"The API returns true or false indicating a match. If a match was found, the row number of the match is returned as well.","operationId":"matchTable","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Input map"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableMatch"}}}},"404":{"description":"Table does not exist"}}}},"/rest/staging/{algorithm}/{version}/stage":{"post":{"tags":["staging"],"summary":"Stage a case","description":"The POST data consists of a set of input keys that are defined by the schema that is being staged.","operationId":"stageSchema","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Input map"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingData"}}}},"400":{"description":"Invalid input"}}}},"/rest/staging/{algorithm}/{version}/schemas/lookup":{"post":{"tags":["staging"],"summary":"Perform a schema lookup","description":"Perform a schema lookup based on site, histology and an optional set of discriminators.","operationId":"listSchemas","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Input map"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingSchemaInfo"}}}}},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/schema":{"post":{"tags":["staging"],"summary":"Create a new schema","operationId":"createSchema","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"comment","in":"query","description":"A comment to be associated with the history","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingSchema"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingSchema"}}}},"400":{"description":"Schema valid"}}}},"/rest/staging/{algorithm}/{version}/invalidate_cache":{"post":{"tags":["staging"],"summary":"Invalidate algorithm version cache","operationId":"invalidateCache","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/fill_cache":{"post":{"tags":["staging"],"summary":"Fill algorithm version cache","operationId":"fillCache","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/copy":{"post":{"tags":["staging"],"summary":"Copies all schemas and tables to another algorithm/version","description":"Create a new version in the target algorithm which is a copy of all schemas and tables from this algorithm version.  The new version does\nnot include any schema or table history.\n\nThe target version must not already exist.\n","operationId":"copyVersion","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}},"required":true},"responses":{"204":{"description":"Success"},"400":{"description":"Target algorithm does not exist or target version already exists"},"404":{"description":"Algorithm or version does not exist"}}}},"/rest/rx/{version}/unhide/{id}":{"post":{"tags":["rx"],"summary":"Unhide an Rx item","description":"Given a DEVELOPMENT Rx item, unhide the associated production Rx item. If there are other unpublished changes in the DEVELOPMENT Rx item, they will not be published.","operationId":"unhideRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Rx identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/rx/{version}/publish":{"post":{"tags":["rx"],"summary":"Publish the specified Rx entities into the associated production database","description":"Publish the specified Rx entities into the associated production database.","operationId":"publishRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishInfo"}}},"required":true},"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/rx/{version}/hide/{id}":{"post":{"tags":["rx"],"summary":"Hide an Rx item","description":"Given a DEVELOPMENT Rx item, hide the associated production Rx item. If there are other unpublished changes in the DEVELOPMENT Rx item, they will not be published.","operationId":"hideRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Rx identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/rx/{version}/create":{"post":{"tags":["rx"],"summary":"Save a new Rx entry","operationId":"createRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rx"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rx"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"}}}},"/rest/rx/versions/create":{"post":{"tags":["rx"],"summary":"Creates a new BETA version database","description":"The new database will be created as a copy of the current production version.","operationId":"createBetaVersion","parameters":[{"name":"name","in":"query","description":"The name of the version to be created","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RxVersion"}}}}}}},"/rest/mph":{"post":{"tags":["mph"],"summary":"Compares two tumors and determines if they are multiple primaries","description":"The SEER implementation of the Multiple Primary and Histology Coding Rules. The implementation combines\nHematopoietic rules and the SEER Multiple Primary and Histology Coding Rules.  The rules used in the calculation are based on the\ndiagnosis year and histology.\n\nIf histology is in the range 9590-9993, one of the Hematopoietic set of rules will be used:\n\n- If DX year 2010 and later, the \"Hematopoietic 2010+\" rules will be used.\n- If DX year 2001-2009, the \"Hematopoietic 2001-2009\" rules will be used.\n- If DX year 2000 or earlier, the \"Hematopoietic 2000 and earlier\" rules will be used.\n\nIf histology is not in the range 9590-9993, one of the following solid tumors sets will be used:\n\nSolid Tumor\n\n- 2021+ Cutaneous Melanoma\n- 2023+ Other Sites\n- 2018+ all other modules\n\nMPH\n\n- 2007-2020 Cutaneous Melanoma\n- 2007-2022 Other Sites\n- 2007-2017 for all other modules\n\nIf DX year is 2006 or earlier and the case is not Benign Brain (C700-C729, C751-C753 with behavior 0/1), the \"2006 and earlier Solid Malignant\" rules will be used.\n\nIf DX year is 2006 or earlier and the case is Benign Brain (C700-C729, C751-C753 with behavior 0/1), the \"2006 and earlier Benign Brain\" rules will be used.\n\nThe API was implemented using the [MPH open source library](https://github.com/imsweb/mph) and incorporates logic from the KCR Multiple\nPrimary Rules Library developed by the [Kentucky Cancer Registry](https://www.kcr.uky.edu).\n","operationId":"getMph","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MphInputPair"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MphResult"}}}},"400":{"description":"Missing or invalid input"}}}},"/rest/hcpcs/code":{"post":{"tags":["hcpcs"],"summary":"Save a new procedure","operationId":"saveProcedure","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HcpcsProcedure"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HcpcsProcedure"}}}},"409":{"description":"HCPCS procedure already exists"},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HcpcsProcedure"}}}}}}},"/rest/glossary/{version}/unhide/{id}":{"post":{"tags":["glossary"],"summary":"Unhide a glossary item","description":"Given a DEVELOPMENT glossary item, unhide the associated production glossary item. If there are other unpublished changes in the DEVELOPMENT glossary item, they will not be published.","operationId":"unhideGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Glossary identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/glossary/{version}/publish":{"post":{"tags":["glossary"],"summary":"Publish the specified glossary items into the associated production database","operationId":"publishGlossaryItems","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishInfo"}}},"required":true},"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/glossary/{version}/hide/{id}":{"post":{"tags":["glossary"],"summary":"Hide a glossary item","description":"Given a DEVELOPMENT glossary item, hide the associated production glossary item. If there are other unpublished changes in the DEVELOPMENT glossary item, they will not be published.","operationId":"hideGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Glossary identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/glossary/{version}/create":{"post":{"tags":["glossary"],"summary":"Save a new glossary entry","operationId":"createGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Glossary"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Glossary"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"}}}},"/rest/glossary/versions/create":{"post":{"tags":["glossary"],"summary":"Creates a new BETA version database","description":"The new database will be created as a copy of the current production version.","operationId":"createBetaVersion_1","parameters":[{"name":"name","in":"query","description":"The name of the version to be created","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlossaryVersion"}}}}}}},"/rest/glossary/match":{"post":{"tags":["glossary"],"summary":"Match supplied text against the glossary","description":"Given text input, return a list of all glossary matches.","operationId":"match","parameters":[{"name":"category","in":"query","description":"Limit the search to specific glossary item categories","required":false,"schema":{"type":"array","items":{"type":"string","enum":["GENERAL","SOLID_TUMOR","HEMATO","NON_NEOPLASTIC","SEERRX","SEER_TRAINING","LYMPH_NODES","STAGING"]},"uniqueItems":true}},{"name":"wholeWordsOnly","in":"query","description":"Only include whole word matches","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"text/plain":{"schema":{"type":"string","description":"Text"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeywordMatch"},"uniqueItems":true}}}},"415":{"description":"Unsupported Media Type"}}}},"/rest/disease/{version}/unhide/{id}":{"post":{"tags":["disease"],"summary":"Unhide a disease item","description":"Given a DEVELOPMENT disease item, unhide the associated production disease item. If there are other unpublished changes in the DEVELOPMENT disease item, they will not be published.","operationId":"unhideDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Disease identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/disease/{version}/publish":{"post":{"tags":["disease"],"summary":"Publish the specified disease entities into the associated production database","operationId":"publishDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishInfo"}}},"required":true},"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/disease/{version}/hide/{id}":{"post":{"tags":["disease"],"summary":"Hide a disease item","description":"Given a DEVELOPMENT disease item, hide the associated production disease item. If there are other unpublished changes in the DEVELOPMENT disease item, they will not be published.","operationId":"hideDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Disease identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/disease/{version}/create":{"post":{"tags":["disease"],"summary":"Save a new disease entry","operationId":"createDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"}}}},"/rest/disease/versions/create":{"post":{"tags":["disease"],"summary":"Creates a new BETA version database","description":"The new database will be created as a copy of the current production version.","operationId":"createBetaVersion_2","parameters":[{"name":"name","in":"query","description":"The name of the version to be created","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiseaseVersion"}}}}}}},"/rest/disease/reportability":{"post":{"tags":["disease"],"summary":"Returns the reportable year range of the supplied disease","operationId":"getReportability","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}},"400":{"description":"Invalid input"}}}},"/rest/surgery/{year}/tables":{"get":{"tags":["surgery"],"summary":"Return all the available table titles for the specified year","operationId":"getTableTitles","parameters":[{"name":"year","in":"path","description":"Year of the data; use \"latest\" for the latest available year.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Invalid or unsupported year"}}}},"/rest/surgery/{year}/table":{"get":{"tags":["surgery"],"summary":"Return a single surgery table","description":"Either title or a site/histology combination must be supplied.","operationId":"getTable_1","parameters":[{"name":"year","in":"path","description":"Year of the data; use \"latest\" for the latest available year.","required":true,"schema":{"type":"string"}},{"name":"title","in":"query","description":"Table title","required":false,"schema":{"type":"string"}},{"name":"site","in":"query","description":"Primary site","required":false,"schema":{"type":"string"}},{"name":"hist","in":"query","description":"Histology","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SurgeryTable"}}}},"400":{"description":"Either title or site/histology must be supplied"}}}},"/rest/staging/{algorithm}/{version}/tables":{"get":{"tags":["staging"],"summary":"Return a list of matching tables","description":"Only the name and title are included in the results.","operationId":"listTables","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Query string","required":false,"schema":{"type":"string"}},{"name":"unused","in":"query","description":"If 'true', limit tables to those not used in any schema.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableProjection"}}}}},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/tables/history":{"get":{"tags":["staging"],"summary":"Return a list of table history entries","operationId":"listTablesHistory","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number of results to return","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Entries per page to return","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"order","in":"query","description":"Date sort of the results","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingTableHistory"}}}}},"400":{"description":"Invalid page parameters"},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/table/{id}/schemas":{"get":{"tags":["staging"],"summary":"Return a list of the schemas which use a specific table","operationId":"getInvolvedSchema","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SchemaProjection"}}}}},"404":{"description":"Table does not exist"}}}},"/rest/staging/{algorithm}/{version}/table/{id}/history":{"get":{"tags":["staging"],"summary":"Return the history of single schema","operationId":"getTableHistory","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number of results to return","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Entries per page to return","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"order","in":"query","description":"Date sort of the results","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingTableHistory"}}}}},"400":{"description":"Invalid page parameters"},"404":{"description":"Table does not exist"}}}},"/rest/staging/{algorithm}/{version}/table/{id}/glossary":{"get":{"tags":["staging"],"summary":"Return a matching glossary keywords from the table","operationId":"getTableGlossary","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Table identifier","required":true,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Limit the search to specific glossary item categories","required":false,"schema":{"type":"array","items":{"type":"string","enum":["GENERAL","SOLID_TUMOR","HEMATO","NON_NEOPLASTIC","SEERRX","SEER_TRAINING","LYMPH_NODES","STAGING"]},"uniqueItems":true}},{"name":"wholeWordsOnly","in":"query","description":"Only include whole word matches","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeywordMatch"},"uniqueItems":true}}}},"404":{"description":"Table does not exist"}}}},"/rest/staging/{algorithm}/{version}/schemas":{"get":{"tags":["staging"],"summary":"Return a list of schemas","description":"If no query is supplied, all schemas will be returned.","operationId":"listSchemas_1","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Query string","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SchemaProjection"}}}}},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/schemas/history":{"get":{"tags":["staging"],"summary":"Return a list of schema history entries","operationId":"listSchemasHistory","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number of results to return","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Entries per page to return","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"order","in":"query","description":"Date sort of the results","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingSchemaHistory"}}}}},"400":{"description":"Invalid page parameters"},"404":{"description":"Algorithm/version does not exist"}}}},"/rest/staging/{algorithm}/{version}/schema/{id}/tables":{"get":{"tags":["staging"],"summary":"Return a list of the tables involved in a specific schema","operationId":"getInvolvedTables","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableProjection"}}}}},"404":{"description":"Schema does not exist"}}}},"/rest/staging/{algorithm}/{version}/schema/{id}/history":{"get":{"tags":["staging"],"summary":"Return the history of single schema","operationId":"getSchemaHistory","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number of results to return","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Entries per page to return","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"order","in":"query","description":"Date sort of the results","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingSchemaHistory"}}}}},"400":{"description":"Invalid page parameters"},"404":{"description":"Schema does not exist"}}}},"/rest/staging/{algorithm}/{version}/schema/{id}/glossary":{"get":{"tags":["staging"],"summary":"Return a matching glossary keywords from the schema","description":"Only STAGING and GENERAL glossary categories will be included.","operationId":"getSchemaGlossary","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Algorithm version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Schema identifier","required":true,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Limit the search to specific glossary item categories","required":false,"schema":{"type":"array","items":{"type":"string","enum":["GENERAL","SOLID_TUMOR","HEMATO","NON_NEOPLASTIC","SEERRX","SEER_TRAINING","LYMPH_NODES","STAGING"]},"uniqueItems":true}},{"name":"wholeWordsOnly","in":"query","description":"Only include whole word matches","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeywordMatch"},"uniqueItems":true}}}},"404":{"description":"Schema does not exist"}}}},"/rest/staging/{algorithm}/versions":{"get":{"tags":["staging"],"summary":"Return information about all the supported versions of an algorithm","operationId":"getVersions","parameters":[{"name":"algorithm","in":"path","description":"Staging algorithm","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingAlgorithmVersion"}}}}},"404":{"description":"Algorithm does not exist"}}}},"/rest/staging/algorithms":{"get":{"tags":["staging"],"summary":"Return a list of all staging algorithms","operationId":"getAlgorithms","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StagingAlgorithm"}}}}}}}},"/rest/rx/{version}":{"get":{"tags":["rx"],"summary":"Return a list of Rx entries","operationId":"searchRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"The status of the Rx item. This field only exists on development databases.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"assigned_to","in":"query","description":"Only include Rx items with this assigned_to value","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"RX classification","required":false,"schema":{"type":"string","enum":["DRUG","REGIMEN"]}},{"name":"modified_from","in":"query","description":"Include all Rx items modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"modified_to","in":"query","description":"Include all Rx items modified on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"published_from","in":"query","description":"Include all Rx items published on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"published_to","in":"query","description":"Include all Rx items published on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"been_published","in":"query","description":"If 'true', only include Rx items that been published; if 'false', only include Rx items that have never been published.","required":false,"schema":{"type":"boolean"}},{"name":"hidden","in":"query","description":"If 'true', only return Rx items that are hidden","required":false,"schema":{"type":"boolean"}},{"name":"mode","in":"query","description":"Search mode","required":false,"schema":{"type":"string","default":"OR","enum":["AND","OR"]}},{"name":"count","in":"query","description":"The number of results to return","required":false,"schema":{"type":"integer","format":"int64","default":25}},{"name":"offset","in":"query","description":"Results start at this offset","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"order","in":"query","description":"The sort order of the results","required":false,"schema":{"type":"string","enum":["name","-name","status","-status","assigned_to","-assigned_to","last_modified","-last_modified","type","-type","site_category","-site_category","icdO3_morphology","-icdO3_morphology"]}},{"name":"output_type","in":"query","description":"Output type","required":false,"schema":{"type":"string","default":"MIN","enum":["MIN","PARTIAL","FULL"]}},{"name":"glossary","in":"query","description":"Return glossary matches","required":false,"schema":{"type":"boolean","default":false}},{"name":"category","in":"query","description":"Limit the search to one or more categories","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"do_not_code","in":"query","description":"If specified, limit results based on the 'do_not_code' value in the drug","required":false,"schema":{"type":"string","enum":["YES","NO","SEE_REMARKS"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishableSearchResults"}}}},"400":{"description":"Invalid input"}}}},"/rest/rx/{version}/status_summary":{"get":{"tags":["rx"],"summary":"Return a list of Rx entries","operationId":"rxStatus","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishStatus"}}}},"404":{"description":"Unknown version"}}}},"/rest/rx/{version}/keywords":{"get":{"tags":["rx"],"summary":"Return a list of keywords contained in the Rx entries","operationId":"getKeywords","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of results to return","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeywordInfo"}}}}}}}},"/rest/rx/{version}/id/{id}":{"get":{"tags":["rx"],"summary":"Return an Rx entry","operationId":"getRxById","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Rx identifier","required":true,"schema":{"type":"string"}},{"name":"glossary","in":"query","description":"Return glossary matches","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rx"}}}},"404":{"description":"Unknown Rx entry"}}}},"/rest/rx/{version}/id/{id}/regimens":{"get":{"tags":["rx"],"summary":"Return a list of regimens containing the passed drug","operationId":"getRegimensForDrug","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Rx identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Rx"}}}}},"404":{"description":"Unknown Rx entry"}}}},"/rest/rx/{version}/changelog":{"get":{"tags":["rx"],"summary":"Return a list of Rx changelog entries","operationId":"getChangelog","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Include all changelog item entries modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Include all changelog item entries modified on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of changelog entries to return. If not supplied, 10 will be returned at once. This cannot be more than 10.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"The starting offset for the results. This defaults to 0.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"id","in":"query","description":"Include changelogs containing this entity ID. The changelogs that are returned will only include entries relating to the requested entity.","required":false,"schema":{"type":"string"}},{"name":"order","in":"query","description":"Results are ordered by date in descending order by default","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishableChangelogResults"}}}},"400":{"description":"Invalid input"}}}},"/rest/rx/versions":{"get":{"tags":["rx"],"summary":"Return a list of all versions of the Rx database","operationId":"getRxVersions","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RxVersion"}}}}}}}},"/rest/recode/sitegroup/{algorithm}":{"get":{"tags":["recode"],"summary":"Return the site group for the site/histology/behavior combination based on a specified algorithm","description":"Supported algorithms are SEER Site Recode ('seer'), International Classification of Childhood Cancer ('iccc') and Adolescents and Young Adults (AYA) Site Recode ('aya').\n\nIf no algorithm is supplied it will default to 'seer'.","operationId":"getSiteGroup","parameters":[{"name":"algorithm","in":"path","description":"Recode algorithm ('seer', 'iccc' or 'aya'); defaults to 'seer' if not provided","required":true,"schema":{"type":"string"}},{"name":"site","in":"query","description":"Primary site","required":true,"schema":{"type":"string"}},{"name":"hist","in":"query","description":"Histology","required":true,"schema":{"type":"string"}},{"name":"behavior","in":"query","description":"Behavior","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SiteRecode"}}}},"400":{"description":"Missing or invalid input"}}}},"/rest/recode/sitegroup/algorithms":{"get":{"tags":["recode"],"summary":"Return the supported site group algorithms and versions","operationId":"getSiteRecodeAlgorithms","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SiteGroupAlgorithm"}}}}}}}},"/rest/ndc":{"get":{"tags":["ndc"],"summary":"Return matching drugs","operationId":"getNdcProducts","parameters":[{"name":"q","in":"query","description":"Search query. Should be URL encoded.","required":false,"schema":{"type":"string"}},{"name":"has_seer_info","in":"query","description":"Drugs that include SEER-maintained information","required":false,"schema":{"type":"boolean"}},{"name":"category","in":"query","description":"Limit to category","required":false,"schema":{"type":"array","items":{"type":"string","enum":["HORMONAL_THERAPY","ANCILLARY","CHEMOTHERAPY","IMMUNOTHERAPY","RADIOPHARMACEUTICAL"]},"uniqueItems":true}},{"name":"include_removed","in":"query","description":"Drugs that have been removed from the FDA database are flagged with a date_removed. Set this to 'true' to include them.","required":false,"schema":{"type":"boolean","default":false}},{"name":"page","in":"query","description":"Page number of results to return.","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Entries per page to return.","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"order","in":"query","description":"Order of the results","required":false,"schema":{"type":"string","enum":["ndc","-ndc","date_added","-date_added","date_modified","-date_modified","proprietary_name","-proprietary_name"]}},{"name":"added_since","in":"query","description":"Include all drugs added on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Include all drugs added or modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"removed_since","in":"query","description":"Include all drugs marked as removed on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NdcProduct"}}}}},"400":{"description":"Invalid input"}}}},"/rest/naaccr/{version}":{"get":{"tags":["naaccr"],"summary":"Return all NAACCR item identifiers and names","operationId":"getAllFieldNames","parameters":[{"name":"version","in":"path","description":"Record layout version","required":true,"schema":{"type":"string"}},{"name":"version_implemented","in":"query","description":"Version field was added to NAACCR standard.","required":false,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query. Should be URL encoded.","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of data items to return. If not specified, all items will be returned.","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NaaccrItemInfo"}}}}},"400":{"description":"Invalid version"}}}},"/rest/naaccr/{version}/{id}":{"get":{"tags":["naaccr"],"summary":"Return a single NAACCR item by XML ID or item number","operationId":"getNaaccrFieldById","parameters":[{"name":"version","in":"path","description":"Record layout version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"NAACCR XML ID or item number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NaaccrItemDto"}}}},"404":{"description":"Unknown NAACCR ID or number"}}}},"/rest/naaccr/versions":{"get":{"tags":["naaccr"],"summary":"Return a list of information about all supported NAACCR versions","operationId":"getVersions_1","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NaaccrVersion"}}}}}}}},"/rest/mph/groups":{"get":{"tags":["mph"],"summary":"Returns a list of all MPH groups","operationId":"getMphGroups","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/rest/mph/group/{id}":{"get":{"tags":["mph"],"summary":"Returns the group information for a given group ID","operationId":"getMphGroupInfo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MphGroup"}}}},"404":{"description":"Unknown version"}}}},"/rest/hcpcs":{"get":{"tags":["hcpcs"],"summary":"Return matching procedures","operationId":"getProcedures","parameters":[{"name":"q","in":"query","description":"Search query. Should be URL encoded.","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Limit to category","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"page","in":"query","description":"Page number of results to return.","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Entries per page to return.","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"order","in":"query","description":"Order of the results","required":false,"schema":{"type":"string","enum":["hcpcs_code","-hcpcs_code","date_added","-date_added","date_modified","-date_modified"]}},{"name":"added_since","in":"query","description":"Include all drugs added on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"modified_since","in":"query","description":"Include all drugs added or modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HcpcsProcedure"}}}}},"400":{"description":"Invalid input"}}}},"/rest/glossary/{version}":{"get":{"tags":["glossary"],"summary":"Return a list of glossary entries","operationId":"searchGlossaryItems","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"The status of the glossary item. This field only exists on development databases.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"assigned_to","in":"query","description":"Only include glossary items with this assigned_to value.","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Limit the search to specific glossary item categories","required":false,"schema":{"type":"array","items":{"type":"string","enum":["GENERAL","SOLID_TUMOR","HEMATO","NON_NEOPLASTIC","SEERRX","SEER_TRAINING","LYMPH_NODES","STAGING"]},"uniqueItems":true}},{"name":"modified_from","in":"query","description":"Include all glossary items modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"modified_to","in":"query","description":"Include all glossary items modified on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"published_from","in":"query","description":"Include all glossary items published on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"published_to","in":"query","description":"Include all glossary items published on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"been_published","in":"query","description":"If 'true', only include tumors that been published; if 'false', only include glossary items that have never been published.","required":false,"schema":{"type":"boolean"}},{"name":"hidden","in":"query","description":"If 'true', only return glossary items that are hidden","required":false,"schema":{"type":"boolean"}},{"name":"mode","in":"query","description":"Search mode","required":false,"schema":{"type":"string","default":"OR","enum":["AND","OR"]}},{"name":"count","in":"query","description":"The number of results to return","required":false,"schema":{"type":"integer","format":"int64","default":25}},{"name":"offset","in":"query","description":"Results start at this offset","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"order","in":"query","description":"The sort order of the results","required":false,"schema":{"type":"string","enum":["name","-name","status","-status","assigned_to","-assigned_to","last_modified","-last_modified","type","-type","site_category","-site_category","icdO3_morphology","-icdO3_morphology"]}},{"name":"output_type","in":"query","description":"Output type","required":false,"schema":{"type":"string","default":"MIN","enum":["MIN","PARTIAL","FULL"]}},{"name":"glossary","in":"query","description":"Return glossary matches","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishableSearchResults"}}}},"400":{"description":"Invalid input"}}}},"/rest/glossary/{version}/status_summary":{"get":{"tags":["glossary"],"summary":"Return a list of glossary entries","operationId":"glossaryItemStatus","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishStatus"}}}},"404":{"description":"Unknown version"}}}},"/rest/glossary/{version}/keywords":{"get":{"tags":["glossary"],"summary":"Return a list of keywords contained in the glossary entries","operationId":"getKeywords_1","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of results to return","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeywordInfo"}}}}}}}},"/rest/glossary/{version}/id/{id}":{"get":{"tags":["glossary"],"summary":"Return a glossary entry","operationId":"getGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Glossary identifier","required":true,"schema":{"type":"string"}},{"name":"glossary","in":"query","description":"Return glossary matches","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Glossary"}}}},"404":{"description":"Unknown glossary entry"}}}},"/rest/glossary/{version}/changelog":{"get":{"tags":["glossary"],"summary":"Return a list of glossary changelog entries","operationId":"getChangelog_1","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Include all changelog item entries modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Include all changelog item entries modified on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of changelog entries to return. If not supplied, 10 will be returned at once. This cannot be more than 10.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"The starting offset for the results. This defaults to 0.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"id","in":"query","description":"Include changelogs containing this entity ID. The changelogs that are returned will only include entries relating to the requested entity.","required":false,"schema":{"type":"string"}},{"name":"order","in":"query","description":"Results are ordered by date in descending order by default","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishableChangelogResults"}}}},"400":{"description":"Invalid input"}}}},"/rest/glossary/versions":{"get":{"tags":["glossary"],"summary":"Return a list of all versions of the glossary database","operationId":"getGlossaryVersions","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryVersion"}}}}}}}},"/rest/disease/{version}":{"get":{"tags":["disease"],"summary":"Return a list of Disease entries","description":"This API call returns both Hematopoietic and Solid Tumor data. The Solid Tumor data, however, is being provided as a preview only. In order to retrieve data that is ready for use in your systems, please make sure to include the HEMATO type parameter when retrieving disease data. **If you do not provide a parameter, you will be retrieving data for both Hematopoietic and Solid Tumors.**","operationId":"searchDiseases","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"The status of the disease item. This field only exists on development databases.","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"assigned_to","in":"query","description":"Only include disease items with this assigned_to value","required":false,"schema":{"type":"string"}},{"name":"site_category","in":"query","description":"Limit the search to a site category of diseases. For a list of categories, see disease/site_categories","required":false,"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}},{"name":"type","in":"query","description":"Disease classification.","required":false,"schema":{"type":"string","enum":["SOLID_TUMOR","HEMATO","NON_NEOPLASTIC"]}},{"name":"modified_from","in":"query","description":"Include all disease items modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"modified_to","in":"query","description":"Include all disease items modified on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"published_from","in":"query","description":"Include all disease items published on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"published_to","in":"query","description":"Include all disease items published on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"been_published","in":"query","description":"If 'true', only include diseases that been published; if 'false', only include glossary items that have never been published.","required":false,"schema":{"type":"boolean"}},{"name":"hidden","in":"query","description":"If 'true', only return disease items that are hidden","required":false,"schema":{"type":"boolean"}},{"name":"mode","in":"query","description":"Search mode","required":false,"schema":{"type":"string","default":"OR","enum":["AND","OR"]}},{"name":"count","in":"query","description":"The number of results to return","required":false,"schema":{"type":"integer","format":"int64","default":25}},{"name":"offset","in":"query","description":"Results start at this offset","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"order","in":"query","description":"The sort order of the results","required":false,"schema":{"type":"string","enum":["name","-name","status","-status","assigned_to","-assigned_to","last_modified","-last_modified","type","-type","site_category","-site_category","icdO3_morphology","-icdO3_morphology"]}},{"name":"output_type","in":"query","description":"Output type","required":false,"schema":{"type":"string","default":"MIN","enum":["MIN","PARTIAL","FULL"]}},{"name":"glossary","in":"query","description":"Return glossary matches","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishableSearchResults"}}}},"400":{"description":"Invalid input"}}}},"/rest/disease/{version}/status_summary":{"get":{"tags":["disease"],"summary":"Return a list of disease entries","operationId":"diseaseStatus","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishStatus"}}}},"404":{"description":"Unknown version"}}}},"/rest/disease/{version}/same_primary":{"get":{"tags":["disease"],"summary":"Indicate whether 2 morphologies (and diagnosis years) represent the same primary","operationId":"isSame","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"d1","in":"query","description":"A morphology (i.e. 8000/3) representing the first disease","required":true,"schema":{"type":"string"}},{"name":"year1","in":"query","description":"Year of diagnosis for first disease","required":true,"schema":{"type":"string"}},{"name":"d2","in":"query","description":"A morphology (i.e. 8000/3) representing the second disease","required":true,"schema":{"type":"string"}},{"name":"year2","in":"query","description":"Year of diagnosis for second disease","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SamePrimaries"}}}},"404":{"description":"Unknown version"}}}},"/rest/disease/{version}/keywords":{"get":{"tags":["disease"],"summary":"Return a list of keywords contained in the disease entries","operationId":"getKeywords_2","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of results to return","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeywordInfo"}}}}}}}},"/rest/disease/{version}/id/{id}":{"get":{"tags":["disease"],"summary":"Return a single disease","operationId":"getDiseaseById","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Disease identifier","required":true,"schema":{"type":"string"}},{"name":"glossary","in":"query","description":"Return glossary matches","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}},"404":{"description":"Unknown disease"}}}},"/rest/disease/{version}/id/{id}/{year}":{"get":{"tags":["disease"],"summary":"Return a single disease with only year-based information for the passed year included","operationId":"getDiseaseByIdWithYear","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Disease identifier","required":true,"schema":{"type":"string"}},{"name":"year","in":"path","description":"The year to use for inclusion of year-based fields. Only values that fall in the passed range will be included.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}},"404":{"description":"Unknown disease"}}}},"/rest/disease/{version}/changelog":{"get":{"tags":["disease"],"summary":"Return a list of Disease changelog entries","operationId":"getChangelog_2","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Include all changelog item entries modified on or after the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Include all changelog item entries modified on or before the supplied date. Dates have the format of YYYY-MM-DD.","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","description":"The number of changelog entries to return. If not supplied, 10 will be returned at once. This cannot be more than 10.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"offset","in":"query","description":"The starting offset for the results. This defaults to 0.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"id","in":"query","description":"Include changelogs containing this entity ID. The changelogs that are returned will only include entries relating to the requested entity.","required":false,"schema":{"type":"string"}},{"name":"order","in":"query","description":"Results are ordered by date in descending order by default","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishableChangelogResults"}}}},"400":{"description":"Invalid input"}}}},"/rest/disease/versions":{"get":{"tags":["disease"],"summary":"Return a list of all versions of the disease database","operationId":"getDiseaseVersions","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiseaseVersion"}}}}}}}},"/rest/disease/site_categories":{"get":{"tags":["disease"],"summary":"Return the complete list of site categories for use in the search API","description":"Note that site categories are only relevant for solid tumor diseases.","operationId":"getSiteCategories","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SiteCategory"}}}}}}}},"/rest/disease/primary_site":{"get":{"tags":["disease"],"summary":"Return the list of ICDO2/ICDO3 primary site codes and labels","operationId":"getPrimarySites","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lookup"}}}}}}}},"/rest/disease/primary_site/{code}":{"get":{"tags":["disease"],"summary":"Return the list of ICDO2/ICDO3 primary sites matching a code","operationId":"getPrimarySites_1","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Lookup"}}}}},"404":{"description":"Code not found"}}}},"/rest/rx/{version}/delete/{id}":{"delete":{"tags":["rx"],"summary":"Delete an Rx entry","operationId":"deleteRx","parameters":[{"name":"version","in":"path","description":"Rx version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Rx identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/rx/versions/delete":{"delete":{"tags":["rx"],"summary":"Deletes an existing BETA version and all associated glossary entries","description":"Only BETA databases may be deleted.","operationId":"deleteBetaVersion","parameters":[{"name":"name","in":"query","description":"The name of the version to be deleted","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/rest/glossary/{version}/delete/{id}":{"delete":{"tags":["glossary"],"summary":"Delete a glossary entry","operationId":"deleteGlossaryItem","parameters":[{"name":"version","in":"path","description":"Glossary version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Glossary identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success"},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content"}}}},"/rest/glossary/versions/delete":{"delete":{"tags":["glossary"],"summary":"Deletes an existing BETA version and all associated glossary entries","description":"Only BETA databases may be deleted.","operationId":"deleteBetaVersion_1","parameters":[{"name":"name","in":"query","description":"The name of the version to be deleted","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/rest/disease/{version}/delete/{id}":{"delete":{"tags":["disease"],"summary":"Delete a disease entry","operationId":"deleteDisease","parameters":[{"name":"version","in":"path","description":"Disease version","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Disease identifier","required":true,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Description","required":false,"schema":{"type":"string"}}],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}},"400":{"description":"Invalid input"},"404":{"description":"Unknown version"},"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Disease"}}}}}}},"/rest/disease/versions/delete":{"delete":{"tags":["disease"],"summary":"Deletes an existing BETA version and all associated glossary entries","description":"Only BETA databases may be deleted.","operationId":"deleteBetaVersion_2","parameters":[{"name":"name","in":"query","description":"The name of the version to be deleted","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}}},"components":{"schemas":{"StagingAlgorithmVersion":{"type":"object","description":"Target algorithm/version","properties":{"algorithm":{"type":"string"},"version":{"type":"string"},"naaccr_version":{"type":"string"},"view_roles":{"type":"array","items":{"type":"string","enum":["ADMIN","DISEASE_EDITOR","GLOSSARY_EDITOR","RX_EDITOR","NDC_EDITOR","HCPCS_EDITOR","STAGING_ADMIN","STAGING_EDITOR","STAGING_BETA_VIEW"]}},"edit_roles":{"type":"array","items":{"type":"string","enum":["ADMIN","DISEASE_EDITOR","GLOSSARY_EDITOR","RX_EDITOR","NDC_EDITOR","HCPCS_EDITOR","STAGING_ADMIN","STAGING_EDITOR","STAGING_BETA_VIEW"]}},"last_modified":{"type":"string","format":"date-time"}}},"StagingColumnDefinition":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["INPUT","DESCRIPTION","ENDPOINT"]},"source":{"type":"string"}}},"StagingTable":{"type":"object","description":"Table","properties":{"id":{"type":"string"},"algorithm":{"type":"string"},"version":{"type":"string"},"name":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"},"rationale":{"type":"string"},"additional_info":{"type":"string"},"coding_guidelines":{"type":"string"},"footnotes":{"type":"string"},"last_modified":{"type":"string","format":"date-time"},"definition":{"type":"array","items":{"$ref":"#/components/schemas/StagingColumnDefinition"}},"extra_input":{"type":"array","items":{"type":"string"},"uniqueItems":true},"rows":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}},"StagingKeyMapping":{"type":"object","properties":{"from":{"type":"string"},"to":{"type":"string"}}},"StagingKeyValue":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"StagingMapping":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"inclusion_tables":{"type":"array","items":{"$ref":"#/components/schemas/StagingTablePath"}},"exclusion_tables":{"type":"array","items":{"$ref":"#/components/schemas/StagingTablePath"}},"initial_context":{"type":"array","items":{"$ref":"#/components/schemas/StagingKeyValue"},"uniqueItems":true},"tables":{"type":"array","items":{"$ref":"#/components/schemas/StagingTablePath"}}}},"StagingMetadata":{"type":"object","properties":{"name":{"type":"string"},"start":{"type":"integer","format":"int32"},"end":{"type":"integer","format":"int32"}}},"StagingSchema":{"type":"object","description":"Schema","properties":{"id":{"type":"string"},"algorithm":{"type":"string"},"version":{"type":"string"},"name":{"type":"string"},"title":{"type":"string"},"subtitle":{"type":"string"},"description":{"type":"string"},"notes":{"type":"string"},"schema_num":{"type":"integer","format":"int32"},"schema_selection_table":{"type":"string"},"schema_discriminators":{"type":"array","items":{"type":"string"},"uniqueItems":true},"initial_context":{"type":"array","items":{"$ref":"#/components/schemas/StagingKeyValue"},"uniqueItems":true},"inputs":{"type":"array","items":{"$ref":"#/components/schemas/StagingSchemaInput"}},"outputs":{"type":"array","items":{"$ref":"#/components/schemas/StagingSchemaOutput"}},"mappings":{"type":"array","items":{"$ref":"#/components/schemas/StagingMapping"}},"involved_tables":{"type":"array","items":{"type":"string"},"uniqueItems":true},"on_invalid_input":{"type":"string","enum":["CONTINUE","FAIL","FAIL_WHEN_USED_FOR_STAGING"]},"last_modified":{"type":"string","format":"date-time"}}},"StagingSchemaInput":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"naaccr_item":{"type":"integer","format":"int32"},"naaccr_xml_id":{"type":"string"},"default":{"type":"string"},"table":{"type":"string"},"used_for_staging":{"type":"boolean"},"unit":{"type":"string"},"decimal_places":{"type":"integer","format":"int32"},"metadata":{"type":"array","items":{"$ref":"#/components/schemas/StagingMetadata"}},"default_table":{"type":"string"}}},"StagingSchemaOutput":{"type":"object","properties":{"key":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"naaccr_item":{"type":"integer","format":"int32"},"naaccr_xml_id":{"type":"string"},"table":{"type":"string"},"default":{"type":"string"},"metadata":{"type":"array","items":{"$ref":"#/components/schemas/StagingMetadata"}}}},"StagingTablePath":{"type":"object","properties":{"id":{"type":"string"},"input_mapping":{"type":"array","items":{"$ref":"#/components/schemas/StagingKeyMapping"},"uniqueItems":true},"output_mapping":{"type":"array","items":{"$ref":"#/components/schemas/StagingKeyMapping"},"uniqueItems":true},"inputs":{"type":"array","items":{"type":"string"},"uniqueItems":true},"outputs":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"StagingAlgorithm":{"type":"object","description":"Algorithm information","properties":{"algorithm":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"ApiKeywordMatch":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"keyword":{"type":"string"},"category":{"type":"array","items":{"type":"string","enum":["GENERAL","SOLID_TUMOR","HEMATO","NON_NEOPLASTIC","SEERRX","SEER_TRAINING","LYMPH_NODES","STAGING"]},"uniqueItems":true},"start":{"type":"integer","format":"int32"},"end":{"type":"integer","format":"int32"}}},"Rx":{"type":"object","description":"Rx entity","properties":{"type":{"type":"string","enum":["DRUG","REGIMEN"]},"alternate_name":{"type":"array","items":{"type":"string"}},"primary_site":{"type":"array","items":{"type":"string"}},"histology":{"type":"string"},"remarks":{"type":"string"},"evs_id":{"type":"string"},"abbreviation":{"type":"array","items":{"type":"string"}},"category":{"type":"array","items":{"type":"string"}},"subcategory":{"type":"array","items":{"type":"string"}},"nsc_number":{"type":"array","items":{"type":"string"}},"do_not_code":{"type":"string","enum":["YES","NO","SEE_REMARKS"]},"drugs":{"type":"array","items":{"type":"string"}},"radiation":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"hidden":{"type":"boolean"},"status":{"type":"string"},"assigned_to":{"type":"string"},"first_published":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"},"note":{"type":"string"},"field_notes":{"type":"object","additionalProperties":{"type":"string"}},"score":{"type":"number","format":"double"},"glossary":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeywordMatch"},"uniqueItems":true}}},"NdcPackage":{"type":"object","properties":{"package":{"type":"string"},"description":{"type":"string"},"start_marketing_date":{"type":"string"},"end_marketing_date":{"type":"string"}}},"NdcProduct":{"type":"object","properties":{"ndc":{"type":"string"},"type_name":{"type":"string"},"proprietary_name":{"type":"string"},"proprietary_name_suffix":{"type":"string"},"non_proprietary_name":{"type":"array","items":{"type":"string"}},"dosage_form_name":{"type":"string"},"route_name":{"type":"array","items":{"type":"string"}},"start_marketing_date":{"type":"string"},"end_marketing_date":{"type":"string"},"marketing_category_name":{"type":"string"},"application_number":{"type":"string"},"labeler_name":{"type":"string"},"substances":{"type":"array","items":{"$ref":"#/components/schemas/Substance"}},"pharm_class":{"type":"array","items":{"type":"string"}},"dea_schedule":{"type":"string"},"packages":{"type":"array","items":{"$ref":"#/components/schemas/NdcPackage"}},"seer":{"$ref":"#/components/schemas/NdcSeerInfo"},"date_added":{"type":"string","format":"date-time"},"date_modified":{"type":"string","format":"date-time"},"date_removed":{"type":"string","format":"date-time"},"score":{"type":"number","format":"double"}}},"NdcSeerInfo":{"type":"object","properties":{"seer_rx_id":{"type":"string"},"categories":{"type":"array","items":{"type":"string","enum":["HORMONAL_THERAPY","ANCILLARY","CHEMOTHERAPY","IMMUNOTHERAPY","RADIOPHARMACEUTICAL"]}},"subcategory":{"type":"string"},"major_drug_class":{"type":"string"},"minor_drug_class":{"type":"string"},"orphan_drug":{"type":"boolean"},"exclusive_oncologic_agent":{"type":"boolean"},"date_modified":{"type":"string","format":"date-time"}}},"Substance":{"type":"object","properties":{"name":{"type":"string"},"strength":{"type":"string"},"unit":{"type":"string"}}},"HcpcsProcedure":{"type":"object","properties":{"hcpcs_code":{"type":"string"},"generic_name":{"type":"string"},"description":{"type":"string"},"brand_names":{"type":"array","items":{"type":"string"}},"strength":{"type":"string"},"fda_approval_year":{"type":"string"},"fda_discontinuation_year":{"type":"string"},"cms_approval_date":{"type":"string"},"cms_discontinuation_date":{"type":"string"},"categories":{"type":"array","items":{"type":"string","enum":["HORMONAL_THERAPY","ANCILLARY","CHEMOTHERAPY","IMMUNOTHERAPY","RADIOPHARMACEUTICAL"]},"uniqueItems":true},"major_drug_class":{"type":"string"},"minor_drug_class":{"type":"string"},"oral":{"type":"boolean"},"date_added":{"type":"string","format":"date-time"},"date_modified":{"type":"string","format":"date-time"},"score":{"type":"number","format":"double"}}},"Glossary":{"type":"object","description":"Glossary entity","properties":{"id":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"hidden":{"type":"boolean"},"status":{"type":"string"},"assigned_to":{"type":"string"},"first_published":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"},"note":{"type":"string"},"field_notes":{"type":"object","additionalProperties":{"type":"string"}},"score":{"type":"number","format":"double"},"glossary":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeywordMatch"},"uniqueItems":true},"definition":{"type":"string"},"alternate_name":{"type":"array","items":{"type":"string"}},"abstractor_note":{"type":"string"},"histology":{"type":"array","items":{"type":"string"}},"primary_site":{"type":"array","items":{"type":"string"}},"category":{"type":"array","items":{"type":"string","enum":["GENERAL","SOLID_TUMOR","HEMATO","NON_NEOPLASTIC","SEERRX","SEER_TRAINING","LYMPH_NODES","STAGING"]}},"subcategory":{"type":"array","items":{"type":"string"}},"resource":{"type":"array","items":{"$ref":"#/components/schemas/GlossaryResource"}}}},"GlossaryResource":{"type":"object","properties":{"name":{"type":"string"},"subtitle":{"type":"string"},"reference_type":{"type":"string"},"url":{"type":"string"},"edition":{"type":"string"},"year":{"type":"string"},"page":{"type":"string"},"citation":{"type":"string"}}},"DateRangeString":{"type":"object","properties":{"value":{"type":"string"},"start":{"type":"string"},"end":{"type":"string"}}},"Disease":{"type":"object","description":"Disease entity","properties":{"id":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"hidden":{"type":"boolean"},"status":{"type":"string"},"assigned_to":{"type":"string"},"first_published":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"fingerprint":{"type":"string"},"note":{"type":"string"},"field_notes":{"type":"object","additionalProperties":{"type":"string"}},"score":{"type":"number","format":"double"},"glossary":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeywordMatch"},"uniqueItems":true},"icdO3_morphology":{"type":"string"},"primary_site":{"type":"array","items":{"$ref":"#/components/schemas/SiteRange"}},"primary_site_text":{"type":"string"},"type":{"type":"string","enum":["SOLID_TUMOR","HEMATO","NON_NEOPLASTIC"]},"valid":{"$ref":"#/components/schemas/YearRange"},"obsolete_new_code":{"type":"array","items":{"type":"string"}},"reportable":{"type":"array","items":{"$ref":"#/components/schemas/YearRange"}},"abstractor_note":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"treatment":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"genetics":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"alternate_name":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"definition":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"icdO2_morphology":{"type":"array","items":{"type":"string"}},"icdO1_morphology":{"type":"array","items":{"type":"string"}},"icd_10cm_code":{"type":"array","items":{"$ref":"#/components/schemas/DateRangeString"}},"icd_10_code":{"type":"array","items":{"type":"string"}},"icd_9_code":{"type":"array","items":{"type":"string"}},"signs":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"exams":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"mortality":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"source":{"type":"array","items":{"$ref":"#/components/schemas/DiseaseSource"}},"icdO3_effective":{"$ref":"#/components/schemas/YearRange"},"icdO2_effective":{"$ref":"#/components/schemas/YearRange"},"icdO1_effective":{"$ref":"#/components/schemas/YearRange"},"missing_primary_site_message":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"grade":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeInteger"}},"transform_to":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"transform_to_text":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"transform_from":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"transform_from_text":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"immunophenotype":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"diagnosis_method":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"module_id":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"same_primary":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"same_primary_text":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"progression":{"type":"array","items":{"$ref":"#/components/schemas/YearRangeString"}},"diagnostic_
[...]
